<%
var internal = _.min([calendar.get('defaultLength'), calendar.get('minLength')]);
var startTime = moment(minAvailability.startTime, 'H:mm').unix();
var endTime = moment(maxAvailability.endTime, 'H:mm').unix();
%>

<div class="row headers">
    <%
    var currentMoment = moment.unix(startTime);
    for(var i = 0; i < 7; i++) {
        currentMoment = currentMoment.add(i, 'days');

    %>
        <div class="col-md-1 text-center">
            <div>
                <%= currentMoment.format('ddd') %>
            </div>
            <div>
                <%= currentMoment.format('YY-MMM-D') %>
            </div>
        </div>
    <%
    }
    %>
</div>

<%
for(var j = startTime; j <= endTime; j += internal * 60) {
%>
<div class="row">
    <%
    var currentMoment = moment.unix(j);
    for(var i = 0; i < 7; i++) {
        currentMoment = currentMoment.add(i, 'days');

    %>
        <div class="col-md-1 text-center">
            <div>
                <%= currentMoment.format('H:mm') %>
            </div>
        </div>
    <%
    }
    %>
</div>

<%
}
%>


