<form class="col-small-12" id="save-booking-form">
    <h2>New Booking</h2>
    <fieldset>
    	<input type="hidden" name="CalendarId" value="<%= calendar.get('id') %>">
        <input type="hidden" name="startTime" value="<%= booking.get('startTime') %>">
    	<%= time %>

        <input class="form-control" type="email" id="signup-password-input" name="email" required>
        <textarea name="notes" class="form-control"></textarea>
        <span class="help-block"></span>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>

        <select id="booking-length" class="form-control">
            <% _.each(booking.get('lengthDropdown'), function(length) { %>
                <option value="<%= length %>">
                    <%= length %> minutes
                </option>
            <% }) %>
        </select>
    </fieldset>

</form>