<% _.each(calendars.models, function(calendar) { %>
    <div class="well col-sm-12">
        <div class="row">
            <div class="col-md-6"><%= calendar.get('name') %></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="#/calendars/<%= calendar.get('id') %>" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Edit Calendar <%= calendar.get('name') %>
                </a>
                <a data-id="<%= calendar.get('id') %>" class="btn btn-danger remove-calendar">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Delete Calendar <%= calendar.get('name') %>
                </a>
            </div>
        </div>
    </div>
<% }) %>
