
<% for(var i = 0; i < externalCalendars.length; i++) { %>
    <div class="checkbox">
        <%
            var calendar = externalCalendars.at(i);
        %>
        <label for="<%= calendar.get('id') %>">
            <input type="checkbox" value="ExternalCalendars[][<%= calendar.get('id') %>]" id="<%= calendar.get('id') %>"><%= calendar.get('summary') %>
        </label>
    </div>
<% } %>


<% externalCalendars.each(function(calendar) { %>
    <div class="checkbox">
        <label for="<%= calendar.get('id') %>">
            <input type="checkbox" value="ExternalCalendars[][<%= calendar.get('id') %>]" id="<%= calendar.get('id') %>"><%= calendar.get('summary') %>
        </label>
    </div>
<% }) %>
