<h3 class="form-signin-heading text-center">Please sign in</h3>
<form class="col-md-2 col-md-offset-5" id="login-form">
    <fieldset>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <span class="help-block"></span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </fieldset>
</form>
