<!-- <h3 class="form-signin-heading text-center">Please sign in</h3> -->
<!-- <form class="col-md-2 col-md-offset-5" id="login-form">
    <fieldset>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <span class="help-block"></span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </fieldset>
</form> -->
<h3 class="form-signin-heading text-center">Sign in using your social accounts</h3>
<div class="col-md-12 text-center">
    <a href="/auth/google" class="undecorated-link">
        <img src="/img/users/buttons/google.png">
    </a>
    <!-- <a href="/auth/facebook" class="undecorated-link">
        <img src="/img/users/buttons/facebook.png">
    </a>
    <a href="/auth/twitter" class="undecorated-link">
        <img src="/img/users/buttons/twitter.png">
    </a>
    <a href="/auth/linkedin" class="undecorated-link">
        <img src="/img/users/buttons/linkedin.png">
    </a>
    <a href="/auth/github" class="undecorated-link">
        <img src="/img/users/buttons/github.png">
    </a> -->
</div>