<div class="col-small-12">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="<%= tab == 'basic' ? 'active' : '' %>"><a data-view="basic" data-toggle="tab" class="calendar-control" href="#">Basic</a></li>
            <li class="<%= tab == 'times' ? 'active' : '' %>"><a data-view="times" data-toggle="tab" class="calendar-control" href="#">Times</a></li>
            <li class="<%= tab == 'externalCalendars' ? 'active' : '' %>"><a data-view="externalCalendars" data-toggle="tab" class="calendar-control" href="#">Calendars to Export</a></li>
        </ul>
    </div>
</div>