<div class="btn btn-default col-sm-3 place-holder"><%= slot.get('startTime') %></div>
<div class="col-sm-3 hidden dp-container">
    <div class="form-group">
        <div class="input-group date datetimepicker">
            <input type="text" class="form-control datetime" data-name="startTime" value="<%= slot.get('startTime') %>">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>
    </div>
</div>
<div class="btn btn-default col-sm-3 place-holder"><%= slot.get('endTime') %></div>
<div class="col-sm-3 hidden dp-container">
    <div class="form-group">
        <div class="input-group date datetimepicker">
            <input type="text" class="form-control datetime" data-name="endTime" value="<%= slot.get('endTime') %>">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>
    </div>
</div>