extends layout

block content
    | you are logged in

    a(href="#") Home
    a(href="#/calendar/create") Create Calendar
    .container-fluid
        #content.row
    script(type='text/javascript' src='/js/lib/requirejs/require.js' data-main='/js/mainSecure')